@import "tailwindcss";
@source "../index.html";
@source "./**/*.{vue,js,ts,jsx,tsx}";

:root {
  color-scheme: light;
  --primary: #0b2c6f;
  --secondary: #f2c300;
  --background: #ffffff;
  --success: #2e7d32;
  --error: #c0392b;
  --neutral-light: #f3f4f6;
  --neutral-dark: #6b7280;
}

body {
  font-family: "Trebuchet MS", "Gill Sans", "Noto Sans", sans-serif;
  background-color: var(--background);
  color: #111827;
}

html,
body,
#app {
  height: 100%;
}
